<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %} | Pyrtal | 一个拍头想到的网站 ;)</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="弹指一挥间，文件在眼前">
  <meta name="keywords" content="pyrtal, flask, proxy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/i/favicon.png') }}">
  <link rel="alternate icon" type="image/png" href="{{ url_for('static', filename='assets/i/favicon.png') }}">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="apple-mobile-web-app-title" content="Pyrtal">
  <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
  <meta name="msapplication-TileColor" content="#008000">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/my.css') }}"/>
</head>
<body style="overflow-x: hidden;">
<header class="am-topbar-inverse am-topbar-fixed-top">
  <div class="am-container">
    <h2 class="am-topbar-brand">Pyrtal</h2>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="am-active"><a href="/">首页</a></li>
        <li ><a href="http://www.djh.im" target="_blank">关于作者</a></li>
      </ul>

      <div class="am-topbar-right">
          <div class="am-vertical-align">
          <div class="am-vertical-align-middle">
              <!-- Place this tag where you want the button to render. -->
              <a class="github-button" href="https://github.com/imdjh/pyrtal" data-style="mega" data-count-href="/imdjh/pyrtal/stargazers" data-count-api="/repos/imdjh/pyrtal#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star imdjh/pyrtal on GitHub">Star</a>
              <a aria-label="Fork imdjh/pyrtal on GitHub" data-style="mega" data-icon="octicon-git-branch" href="https://github.com/imdjh/pyrtal/fork" class="github-button">Fork</a>
              <a aria-label="Download imdjh/pyrtal on GitHub" data-style="mega" data-icon="octicon-cloud-download" href="https://github.com/imdjh/pyrtal/archive/master.zip" class="github-button">Download</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>

{% block content %}
    {% block banner %} {% endblock %}
    {% block functional_area %} {% endblock %}
{% endblock %}


<footer class="footer-fixed">
  <p class="autoajust-text">© 2015 <a href="http://www.djh.im" target="_blank" class="autoajust-text">.im.djh presents</a> Licensed under <a
      class="autoajust-text" href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a></p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{{ url_for('static', filename='assets/js/polyfill/rem.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/polyfill/respond.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/amazeui.legacy.js') }}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/amazeui.min.js') }}"></script>
<!--<![endif]-->
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% block add_js %}
{% endblock %}
</body>
</html>
